[submodule "public"]
	path = public
	url = git@github.com:tim-hilt/tim-hilt.github.io.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
